page {
  height: 100%;
  font-size: 28rpx;
  background: #535562;
  color: #fff;
  background-image: linear-gradient(to bottom, #535562, #343641);
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
