@font-face {
  font-family: 'BebasNeue-Regular';
  src: url('./BebasNeue-Regular.ttf') format('truetype');
}

page {
  width: 100vw;
  height: 100vh;
  color: #fff;
  font-size: 28rpx;
}

.page {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.wx-menu-button {
  position: absolute;
  box-shadow: inset 0 0 1px rgba($color: #ccc, $alpha: 0.8);
  border-radius: 50%;
  background: rgba($color: #000000, $alpha: 0.1);
  color: #fff;
  &.wx-menu-button-center {
    left: 50%;
    transform: translateX(-50%);
  }
  .iconfont {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: lighter;
  }
}
.circle-button {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  // border: solid 4px rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  background: rgba($color: #fff, $alpha: 0.5);
  width: 18vw;
  height: 18vw;
  color: #fff;
  &.hover {
    background: rgba($color: #fff, $alpha: 0.3);
  }
  .iconfont {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12vw;
    font-weight: lighter;
    transition: all 0.5s;
  }
  &.disable {
    background: rgba($color: #fff, $alpha: 0.1);
    color: rgba($color: #fff, $alpha: 0.2);
  }
  &.error {
    background: rgba($color: #fff, $alpha: 0.1);
    color: rgba($color: #fff, $alpha: 0.2);
    .iconfont {
      transform: translate(-50%, -50%) rotate(-90deg);
    }
  }
}

.pd-bt-40 {
  padding-bottom: 40px !important;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
