@font-face {
  font-family: 'BebasNeue-Regular';
  src: url('../static/fonts/BebasNeue-Regular.ttf') format('truetype');
}

page {
  height: 100vh;
  width: 100vw;
  font-size: 28rpx;
  color: #fff;
  font-family: BebasNeue-Regular;
  font-weight: lighter;
}

.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.pink-theme {
  background: linear-gradient(to bottom, #fa5539, #f93251);
  background: linear-gradient(to bottom, #fd746c, #2c3e50);
  background: linear-gradient(to bottom, #904e95, #e96443);
  background: linear-gradient(to top, rgb(11, 72, 107), rgb(245, 98, 2));
  background: linear-gradient(to top, rgb(33, 150, 243), rgb(244, 67, 54));
  background: linear-gradient(to top, rgb(255, 95, 109), rgb(255, 195, 113));
  background: linear-gradient(to top, rgb(29, 67, 80), rgb(164, 57, 49));
  background: linear-gradient(to top, rgb(0, 0, 0), rgb(67, 67, 67));
  background: linear-gradient(to top, rgb(0, 153, 247), rgb(241, 23, 18));
  background: linear-gradient(to top, rgb(41, 128, 185), rgb(44, 62, 80));
  background: linear-gradient(to top, rgb(17, 67, 87), rgb(242, 148, 146));
  background: linear-gradient(to top, rgb(64, 58, 62), rgb(190, 88, 105));
  background: linear-gradient(to top, rgb(229, 57, 53), rgb(227, 93, 91));
  background: linear-gradient(to bottom, #243b55, #141e30);
  background: linear-gradient(to bottom, #734b6d, #42275a);
  background: linear-gradient(to bottom, #734b6d, #42275a);
}
