@font-face {
  font-family: 'iconfont';
  src: url('./iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-alarm:before {
  content: '\e612';
}

.icon-cog:before {
  content: '\e649';
}

.icon-pause:before {
  content: '\e67e';
}

.icon-play:before {
  content: '\e689';
}

.icon-stop:before {
  content: '\e6a3';
}

.icon-tick:before {
  content: '\e6a9';
}

.icon-setting:before {
  content: '\e63f';
}

.icon-ring:before {
  content: '\e642';
}

.icon-ring-off:before {
  content: '\e643';
}

.icon-filter:before {
  content: '\e648';
}

.icon-refresh:before {
  content: '\e650';
}

.icon-like:before {
  content: '\e657';
}

.icon-like_filled:before {
  content: '\e658';
}

.icon-go-right:before {
  content: '\e664';
}
